<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Add user page</title>
</head>
<body>
<div>
    Add user page
</div>

<form action="/users/add" method="post" name="user" th:object="${user}">
    <p>
        <label>
            <input type="text" name="last name" placeholder="Insert your last name" th:field="*{lastName}"> Last name
        </label>
    </p>
    <p>
        <label>
            <input type="text" name="first name" placeholder="Insert your first name" th:field="*{name}"> First name
        </label>
    </p>
    <p>
        <label>
            <input type="text" name="middle name" placeholder="Insert your middle name" th:field="*{middleName}"> Middle
            name
        </label>
    </p>
    <p>
        <label>
            <input type="email" name="email" placeholder="Insert your e-mail" th:field="*{email}"> E-mail
        </label>
    </p>
    <p>
        <label>
            <select name="role" th:field="*{role}">
                <option value="ADMINISTRATOR">ADMINISTRATOR</option>
                <option value="SALE_USER">SALE USER</option>
                <option value="CUSTOMER_USER">CUSTOMER USER</option>
                <option value="SECURE_API_USER">SECURE API USER</option>
            </select> Role
        </label>
    </p>
    <p>
        <input type="submit" value="Send">
    </p>
    <p>
        <input type="reset" value="Reset">
    </p>
</form>
</body>
</html>