<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<table>
    <caption>Articles</caption>
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Author name</th>
        <th>Author last name</th>
        <th>Description</th>
    </tr>
    <tr th:each="article : ${articles.content}">
        <td><span th:text="${#dates.format(article.date, 'dd-MM-yyyy')}"></span></td>
        <td><span th:text="${article.title}"></span></td>
        <td><span th:text="${article.userName}"></span></td>
        <td><span th:text="${article.userLastName}"></span></td>
        <td><span th:text="${article.description}"></span></td>
        <td>
            <a th:href="@{/article?id={id}(id=${article.id})}">More...</a>
        </td>
    </tr>
</table>
<div>
    <th:block th:if="${articles.getTotalPages()}>0"
              th:each="pageNumber:${#numbers.sequence(1,articles.getTotalPages())}">
        <a th:href="@{/articles?page={page}(page=${pageNumber})}">
            <span th:text="${pageNumber}">...</span></a>
    </th:block>
</div>
</body>
</html>