<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<table>
    <caption>Orders</caption>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Status</th>
        <th>More...</th>
    </tr>
    <tr th:each="order : ${orders.content}">
        <td><span th:text="${order.id}"></span></td>
        <td><span th:text="${#temporals.format(order.date, 'dd-MM-yyyy HH:mm')}"></span></td>
        <td><span th:text="${order.status}"></span></td>
        <td>
            <a th:href="@{/order?id={id}(id=${order.id})}">More...</a>
        </td>
    </tr>
</table>
<div>
    <th:block th:if="${orders.getTotalPages()}>0"
              th:each="pageNumber:${#numbers.sequence(1,orders.getTotalPages())}">
        <a th:href="@{/orders?page={page}(page=${pageNumber})}">
            <span th:text="${pageNumber}">...</span></a>
    </th:block>
</div>
</body>
</html>