<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Starting page</title>
</head>
<body>
<div>
    Starting page
</div>

<form action="/" method="post" name="login">
    <p>
        <label>
            <input type="email" name="email" placeholder="Insert your e-mail"> E-mail
        </label>
    </p>
    <p>
        <label>
            <input type="password" name="password" placeholder="Insert your password"> Password
        </label>
    </p>
    <p>
        <input type="submit" value="Send">
    </p>
    <p>
        <input type="reset" value="Reset">
    </p>
</form>

</body>
</html>