<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<table>
    <caption>Users</caption>
    <tr>
        <th>Last name</th>
        <th>Middle name</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Role</th>
    </tr>
    <tr th:each="user : ${users.content}">
        <td><span th:text="${user.lastName}"></span></td>
        <td><span th:text="${user.middleName}"></span></td>
        <td><span th:text="${user.name}"></span></td>
        <td><span th:text="${user.email}"></span></td>
        <td><span th:text="${user.role}"></span></td>
        <td>
            <input type="checkbox" name="usersIDs" th:value="${user.id}" form="Delete checked users"/>
            <label>Delete user</label>
        </td>
        <td>
            <form action="/users/change/password" method="post">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <input type="submit" value="Change password">
            </form>
        </td>
        <td>
            <form action="/users/change/role" method="post">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <input type="submit" value="Change role">
                <select name="role">
                    <option th:each="role : ${roles}"
                            th:value="${role.name()}"
                            th:text="${role.name()}">
                    </option>
                </select>
            </form>
        </td>
    </tr>
</table>
<form action="/users/delete" id="Delete checked users" method="post">
    <input type="submit" value="Delete checked users">
</form>
<div>
    <th:block th:if="${users.getTotalPages()}>0"
              th:each="pageNumber:${#numbers.sequence(1,users.getTotalPages())}">
        <a th:href="@{/users?page={page}(page=${pageNumber})}">
            <span th:text="${pageNumber}">...</span></a>
    </th:block>
</div>
</body>
</html>